@import '../../shared/vars';

.option {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  &__iconWrapper {
    width: 24px;
    height: 24px;
  }

  &__icon {
    color: $azure;
  }
}
