$colorPrimary: #0087ff;
$colorBlue: #0058ac;
$teal-blue: #007db8;
$colorGreen: #24b377;
$colorRed: #f23d6a;
$colorGray: #475359;
$colorGrayLight: #7a8187;
$light-grey: rgba(#000, .2);
$gray: rgba(#000, .54);

$hover: #ebf1ff;

$gunmetal: #475359;
$cool-grey-two: #a9b1b8;
$red-pink: #f23d6a;
$cerulean: #008bcd;
$azure: #0087ff;
$pale-grey-two: #f0f3f7;
$white: #fff;

$z-index-mobile: 1010;
$z-index-select-optionList: 100000;

$base-offset: 8px;