@import '../../../shared/vars';

.statusText {
  width: 100%;
  padding: 4px 12px 2px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: $colorGrayLight;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  &_mobile {
    min-height: 44px;
    background-color: white;
    padding: 8px 16px;
    border-top: 1px solid rgba(black, 0.12);
  }

  &_mobileNoOptions {
    font-size: 14px;
  }
}
